{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div id="container-for-column" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
      <script type="text/javascript">
        var data = {{data|json|safe}};
      </script>

      {% script "/js/column-chart-for-vk.js" %}

      <div id="container-for-scatter" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
      <script type="text/javascript">
        var scatter_data = {{scatter-data|json|safe}};
      </script>

      {% script "/js/scatter-chart-for-vk.js" %}
    </div>
  </div>
{% endblock %}
