{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron">
        <h1>Welcome to vk-analyzer</h1>
        <p>Time to start building your site!</p>
        <p><a class="btn btn-primary btn-lg" href="http://luminusweb.net">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="col-md-4">
      <form action="/analyze-likes" method="POST" role="form">
        {% csrf-field %}
        <div class="form-group">
          <label for="domain">User/Group domain:</label>
          <input id="domain" type="text" placeholder="mdk" name="domain" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="userid">Keywords (will be implemented soon...):</label>
          <input type="text" placeholder="kotiki" name="keywords" class="form-control" />
          <p class="help-block">separated by commas.</p>
        </div>
        <input type="submit" value="(cljr) team, analyse it!" class="btn btn-lg btn-primary" />
      </form>
    </div>
  </div>
{% endblock %}
